body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:593px;
}
#u6075 {
  position:absolute;
  left:49px;
  top:21px;
  width:341px;
  height:593px;
}
#u6076 {
  position:absolute;
  left:2px;
  top:288px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:96px;
}
#u6077 {
  position:absolute;
  left:473px;
  top:583px;
  width:527px;
  height:96px;
  font-size:14px;
}
#u6078 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u6079_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:125px;
  height:21px;
}
#u6079p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:116px;
  height:1px;
}
#u6079p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:127px;
  height:21px;
}
#u6079p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u6079p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u6079p002 {
  position:absolute;
  left:113px;
  top:0px;
  width:2px;
  height:1px;
}
#u6079p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u6079.compound {
  width:0px;
  height:0px;
}
#u6079 {
  position:absolute;
  left:359px;
  top:592px;
  width:114px;
  height:1px;
}
#u6080 {
  position:absolute;
  left:2px;
  top:-8px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6081 {
  position:absolute;
  left:196px;
  top:706px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
