body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1117px;
  height:531px;
}
#u4419 {
  position:absolute;
  left:19px;
  top:18px;
  width:1117px;
  height:531px;
}
#u4420 {
  position:absolute;
  left:2px;
  top:258px;
  width:1113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4421 {
  position:absolute;
  left:1158px;
  top:149px;
  width:323px;
  height:16px;
  color:#FF0000;
}
#u4422 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u4423_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:211px;
  height:21px;
}
#u4423p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:1px;
}
#u4423p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:213px;
  height:21px;
}
#u4423p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u4423p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u4423p002 {
  position:absolute;
  left:199px;
  top:0px;
  width:2px;
  height:1px;
}
#u4423p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u4423.compound {
  width:0px;
  height:0px;
}
#u4423 {
  position:absolute;
  left:958px;
  top:157px;
  width:200px;
  height:1px;
}
#u4424 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
