body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:397px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:580px;
}
#u6163 {
  position:absolute;
  left:59px;
  top:20px;
  width:338px;
  height:580px;
}
#u6164 {
  position:absolute;
  left:2px;
  top:282px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u6165 {
  position:absolute;
  left:143px;
  top:67px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u6166 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u6167 {
  position:absolute;
  left:151px;
  top:144px;
  width:224px;
  height:16px;
}
#u6168 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6169 {
  position:absolute;
  left:60px;
  top:454px;
  width:335px;
  height:43px;
  text-align:left;
}
#u6170 {
  position:absolute;
  left:2px;
  top:14px;
  width:331px;
  word-wrap:break-word;
}
#u6171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6171 {
  position:absolute;
  left:344px;
  top:267px;
  width:37px;
  height:16px;
  color:#999999;
}
#u6172 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u6173 {
  position:absolute;
  left:143px;
  top:89px;
  width:49px;
  height:16px;
  color:#008000;
}
#u6174 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u6175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u6175 {
  position:absolute;
  left:151px;
  top:170px;
  width:224px;
  height:16px;
}
#u6176 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:65px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6177 {
  position:absolute;
  left:61px;
  top:533px;
  width:335px;
  height:65px;
}
#u6178 {
  position:absolute;
  left:2px;
  top:24px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6179 {
  position:absolute;
  left:324px;
  top:267px;
  width:57px;
  height:16px;
}
#u6180 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u6181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6181 {
  position:absolute;
  left:59px;
  top:517px;
  width:338px;
  height:43px;
  text-align:left;
}
#u6182 {
  position:absolute;
  left:2px;
  top:14px;
  width:334px;
  word-wrap:break-word;
}
#u6183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6183 {
  position:absolute;
  left:334px;
  top:531px;
  width:37px;
  height:16px;
}
#u6184 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
