body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1343px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:632px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3958 {
  position:absolute;
  left:37px;
  top:18px;
  width:751px;
  height:632px;
}
#u3959 {
  position:absolute;
  left:2px;
  top:308px;
  width:747px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:34px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3960 {
  position:absolute;
  left:95px;
  top:68px;
  width:622px;
  height:34px;
  text-align:left;
}
#u3961 {
  position:absolute;
  left:2px;
  top:9px;
  width:618px;
  word-wrap:break-word;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3962 {
  position:absolute;
  left:662px;
  top:77px;
  width:32px;
  height:16px;
  text-align:center;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:494px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3964 {
  position:absolute;
  left:95px;
  top:102px;
  width:622px;
  height:494px;
}
#u3965 {
  position:absolute;
  left:2px;
  top:239px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3966 {
  position:absolute;
  left:333px;
  top:411px;
  width:60px;
  height:29px;
}
#u3967 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3968 {
  position:absolute;
  left:421px;
  top:411px;
  width:60px;
  height:29px;
}
#u3969 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3970 {
  position:absolute;
  left:196px;
  top:150px;
  width:76px;
  height:16px;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3972 {
  position:absolute;
  left:195px;
  top:184px;
  width:76px;
  height:16px;
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u3974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3974 {
  position:absolute;
  left:170px;
  top:320px;
  width:99px;
  height:16px;
}
#u3975 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3976 {
  position:absolute;
  left:269px;
  top:320px;
  width:86px;
  height:16px;
}
#u3977 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u3976_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3978 {
  position:absolute;
  left:369px;
  top:320px;
  width:59px;
  height:16px;
}
#u3979 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u3978_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3980 {
  position:absolute;
  left:434px;
  top:320px;
  width:73px;
  height:16px;
}
#u3981 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u3980_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3982 {
  position:absolute;
  left:517px;
  top:320px;
  width:73px;
  height:16px;
}
#u3983 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u3982_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3984 {
  position:absolute;
  left:265px;
  top:358px;
  width:93px;
  height:16px;
}
#u3985 {
  position:absolute;
  left:16px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3984_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3986 {
  position:absolute;
  left:358px;
  top:358px;
  width:78px;
  height:16px;
}
#u3987 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3986_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3988 {
  position:absolute;
  left:436px;
  top:358px;
  width:78px;
  height:16px;
}
#u3989 {
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3988_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3990 {
  position:absolute;
  left:514px;
  top:358px;
  width:215px;
  height:16px;
}
#u3991 {
  position:absolute;
  left:16px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u3990_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3992 {
  position:absolute;
  left:195px;
  top:249px;
  width:76px;
  height:16px;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u3994 {
  position:absolute;
  left:271px;
  top:246px;
  width:252px;
  height:22px;
}
#u3994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3994_input:disabled {
  color:grayText;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3995 {
  position:absolute;
  left:271px;
  top:286px;
  width:379px;
  height:16px;
  color:#999999;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  position:absolute;
  left:272px;
  top:150px;
  width:85px;
  height:16px;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3999 {
  position:absolute;
  left:271px;
  top:184px;
  width:145px;
  height:16px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4001 {
  position:absolute;
  left:858px;
  top:260px;
  width:485px;
  height:32px;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:346px;
  height:21px;
}
#u4003p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:337px;
  height:1px;
}
#u4003p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:348px;
  height:21px;
}
#u4003p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u4003p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u4003p002 {
  position:absolute;
  left:334px;
  top:0px;
  width:2px;
  height:1px;
}
#u4003p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u4003.compound {
  width:0px;
  height:0px;
}
#u4003 {
  position:absolute;
  left:523px;
  top:264px;
  width:335px;
  height:1px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4005 {
  position:absolute;
  left:858px;
  top:148px;
  width:365px;
  height:16px;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4007 {
  position:absolute;
  left:858px;
  top:175px;
  width:309px;
  height:16px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u4009_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:494px;
  height:21px;
}
#u4009p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:485px;
  height:1px;
}
#u4009p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:496px;
  height:21px;
}
#u4009p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u4009p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u4009p002 {
  position:absolute;
  left:482px;
  top:0px;
  width:2px;
  height:1px;
}
#u4009p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u4009.compound {
  width:0px;
  height:0px;
}
#u4009 {
  position:absolute;
  left:375px;
  top:158px;
  width:483px;
  height:1px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
