body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1164px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:482px;
}
#u5640 {
  position:absolute;
  left:43px;
  top:110px;
  width:334px;
  height:482px;
}
#u5641 {
  position:absolute;
  left:2px;
  top:233px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5642 {
  position:absolute;
  left:43px;
  top:592px;
  width:334px;
  height:42px;
}
#u5643 {
  position:absolute;
  left:2px;
  top:13px;
  width:330px;
  word-wrap:break-word;
}
#u5644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:482px;
}
#u5644 {
  position:absolute;
  left:751px;
  top:104px;
  width:334px;
  height:482px;
}
#u5645 {
  position:absolute;
  left:2px;
  top:233px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:372px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5646 {
  position:absolute;
  left:755px;
  top:154px;
  width:328px;
  height:372px;
}
#u5647 {
  position:absolute;
  left:2px;
  top:178px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:362px;
}
#u5648 {
  position:absolute;
  left:753px;
  top:241px;
  width:331px;
  height:362px;
}
#u5649 {
  position:absolute;
  left:2px;
  top:173px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5650 {
  position:absolute;
  left:750px;
  top:586px;
  width:334px;
  height:42px;
}
#u5651 {
  position:absolute;
  left:2px;
  top:13px;
  width:330px;
  word-wrap:break-word;
}
#u5652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5652 {
  position:absolute;
  left:751px;
  top:147px;
  width:334px;
  height:39px;
  text-align:left;
}
#u5653 {
  position:absolute;
  left:2px;
  top:4px;
  width:330px;
  word-wrap:break-word;
}
#u5654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5654 {
  position:absolute;
  left:43px;
  top:47px;
  width:234px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5655 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u5656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u5656 {
  position:absolute;
  left:751px;
  top:39px;
  width:234px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u5657 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u5658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5658 {
  position:absolute;
  left:426px;
  top:159px;
  width:304px;
  height:14px;
}
#u5659 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u5660_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:40px;
  height:21px;
}
#u5660p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:32px;
  height:1px;
}
#u5660p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:42px;
  height:21px;
}
#u5660p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u5660p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u5660p002 {
  position:absolute;
  left:16px;
  top:-11px;
  width:22px;
  height:22px;
}
#u5660p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u5660.compound {
  width:0px;
  height:0px;
}
#u5660 {
  position:absolute;
  left:721px;
  top:166px;
  width:30px;
  height:1px;
}
#u5661 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5662 {
  position:absolute;
  left:324px;
  top:650px;
  width:355px;
  height:112px;
}
#u5663 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u5664 {
  position:absolute;
  left:210px;
  top:634px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u5664_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u5664_seg1 {
  position:absolute;
  left:-4px;
  top:37px;
  width:111px;
  height:8px;
}
#u5664_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u5665 {
  position:absolute;
  left:-17px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5666 {
  position:absolute;
  left:805px;
  top:664px;
  width:332px;
  height:32px;
}
#u5667 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  white-space:nowrap;
}
#u5668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5668 {
  position:absolute;
  left:426px;
  top:185px;
  width:150px;
  height:14px;
}
#u5669 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u5670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u5670 {
  position:absolute;
  left:43px;
  top:73px;
  width:341px;
  height:32px;
  font-size:14px;
}
#u5671 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u5672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5672 {
  position:absolute;
  left:751px;
  top:65px;
  width:413px;
  height:32px;
}
#u5673 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u5674 {
  position:absolute;
  left:770px;
  top:628px;
  width:0px;
  height:0px;
  color:#CCCCCC;
}
#u5674_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u5674_seg1 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:8px;
  height:60px;
}
#u5674_seg2 {
  position:absolute;
  left:-5px;
  top:48px;
  width:40px;
  height:8px;
}
#u5674_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5675 {
  position:absolute;
  left:-51px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5676 {
  position:absolute;
  left:124px;
  top:768px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
