body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:705px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:620px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.666666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3631 {
  position:absolute;
  left:80px;
  top:80px;
  width:433px;
  height:620px;
}
#u3632 {
  position:absolute;
  left:2px;
  top:302px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3633 {
  position:absolute;
  left:80px;
  top:80px;
  width:433px;
  height:40px;
}
#u3634 {
  position:absolute;
  left:2px;
  top:12px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3635 {
  position:absolute;
  left:255px;
  top:91px;
  width:57px;
  height:16px;
}
#u3636 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3637 {
  position:absolute;
  left:150px;
  top:516px;
  width:300px;
  height:40px;
}
#u3638 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u3639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u3639 {
  position:absolute;
  left:130px;
  top:420px;
  width:300px;
  height:32px;
  color:#000000;
  text-align:center;
}
#u3640 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3641 {
  position:absolute;
  left:593px;
  top:528px;
  width:112px;
  height:16px;
}
#u3642 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u3643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:2px;
}
#u3643 {
  position:absolute;
  left:450px;
  top:536px;
  width:143px;
  height:1px;
}
#u3644 {
  position:absolute;
  left:2px;
  top:-8px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3645 {
  position:absolute;
  left:268px;
  top:306px;
  width:64px;
  height:64px;
}
#u3646 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u3647 {
  position:absolute;
  left:86px;
  top:72px;
  width:29px;
  height:57px;
  font-size:48px;
}
#u3648 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3649 {
  position:absolute;
  left:563px;
  top:92px;
  width:112px;
  height:16px;
}
#u3650 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u3651 {
  position:absolute;
  left:100px;
  top:90px;
  width:0px;
  height:0px;
}
#u3651_seg0 {
  position:absolute;
  left:-4px;
  top:-34px;
  width:8px;
  height:34px;
}
#u3651_seg1 {
  position:absolute;
  left:-4px;
  top:-34px;
  width:458px;
  height:8px;
}
#u3651_seg2 {
  position:absolute;
  left:446px;
  top:-34px;
  width:8px;
  height:48px;
}
#u3651_seg3 {
  position:absolute;
  left:446px;
  top:6px;
  width:17px;
  height:8px;
}
#u3652 {
  position:absolute;
  left:186px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
