body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:531px;
}
#u740 {
  position:absolute;
  left:99px;
  top:92px;
  width:1130px;
  height:531px;
}
#u741 {
  position:absolute;
  left:2px;
  top:258px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u742 {
  position:absolute;
  left:99px;
  top:36px;
  width:689px;
  height:33px;
  font-size:28px;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  white-space:nowrap;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u744 {
  position:absolute;
  left:99px;
  top:688px;
  width:689px;
  height:33px;
  font-size:28px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  white-space:nowrap;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:485px;
}
#u746 {
  position:absolute;
  left:93px;
  top:745px;
  width:1327px;
  height:485px;
}
#u747 {
  position:absolute;
  left:2px;
  top:234px;
  width:1323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:1852px;
}
#u748 {
  position:absolute;
  left:45px;
  top:-8px;
  width:2px;
  height:1849px;
}
#u749 {
  position:absolute;
  left:2px;
  top:916px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u750 {
  position:absolute;
  left:25px;
  top:32px;
  width:40px;
  height:40px;
  font-size:36px;
  color:#FFFFFF;
}
#u751 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u752 {
  position:absolute;
  left:26px;
  top:689px;
  width:40px;
  height:40px;
  font-size:36px;
  color:#FFFFFF;
}
#u753 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 129, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u754 {
  position:absolute;
  left:4px;
  top:73px;
  width:82px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u755 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 129, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u756 {
  position:absolute;
  left:5px;
  top:730px;
  width:82px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u757 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
