body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:531px;
}
#u514 {
  position:absolute;
  left:99px;
  top:92px;
  width:1130px;
  height:531px;
}
#u515 {
  position:absolute;
  left:2px;
  top:258px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u516 {
  position:absolute;
  left:99px;
  top:36px;
  width:689px;
  height:33px;
  font-size:28px;
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  white-space:nowrap;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u518 {
  position:absolute;
  left:99px;
  top:688px;
  width:689px;
  height:33px;
  font-size:28px;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  white-space:nowrap;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:485px;
}
#u520 {
  position:absolute;
  left:93px;
  top:745px;
  width:1327px;
  height:485px;
}
#u521 {
  position:absolute;
  left:2px;
  top:234px;
  width:1323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:1852px;
}
#u522 {
  position:absolute;
  left:45px;
  top:-8px;
  width:2px;
  height:1849px;
}
#u523 {
  position:absolute;
  left:2px;
  top:916px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u524 {
  position:absolute;
  left:25px;
  top:32px;
  width:40px;
  height:40px;
  font-size:36px;
  color:#FFFFFF;
}
#u525 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  word-wrap:break-word;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u526 {
  position:absolute;
  left:26px;
  top:689px;
  width:40px;
  height:40px;
  font-size:36px;
  color:#FFFFFF;
}
#u527 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  word-wrap:break-word;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 129, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u528 {
  position:absolute;
  left:4px;
  top:73px;
  width:82px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u529 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 129, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u530 {
  position:absolute;
  left:5px;
  top:730px;
  width:82px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u531 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
