body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:449px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:643px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025 {
  position:absolute;
  left:74px;
  top:22px;
  width:375px;
  height:643px;
}
#u6026 {
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6027 {
  position:absolute;
  left:74px;
  top:314px;
  width:375px;
  height:125px;
}
#u6028 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6029 {
  position:absolute;
  left:74px;
  top:211px;
  width:375px;
  height:68px;
}
#u6030 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6031 {
  position:absolute;
  left:374px;
  top:36px;
  width:1px;
  height:16px;
}
#u6032 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u6033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u6033 {
  position:absolute;
  left:74px;
  top:22px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u6034 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6035 {
  position:absolute;
  left:210px;
  top:56px;
  width:137px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6036 {
  position:absolute;
  left:2px;
  top:-2px;
  width:133px;
  word-wrap:break-word;
}
#u6037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6037 {
  position:absolute;
  left:74px;
  top:22px;
  width:375px;
  height:20px;
}
#u6038 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6039 {
  position:absolute;
  left:74px;
  top:85px;
  width:375px;
  height:1px;
}
#u6040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u6041 {
  position:absolute;
  left:88px;
  top:54px;
  width:12px;
  height:20px;
}
#u6042 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u6043 {
  position:absolute;
  left:103px;
  top:56px;
  width:69px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6044 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6045 {
  position:absolute;
  left:74px;
  top:85px;
  width:375px;
  height:85px;
  text-align:left;
}
#u6046 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6047 {
  position:absolute;
  left:83px;
  top:326px;
  width:141px;
  height:16px;
}
#u6048 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u6049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6049 {
  position:absolute;
  left:83px;
  top:352px;
  width:211px;
  height:16px;
}
#u6050 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u6051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6051 {
  position:absolute;
  left:83px;
  top:380px;
  width:222px;
  height:16px;
}
#u6052 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u6053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6053 {
  position:absolute;
  left:83px;
  top:408px;
  width:156px;
  height:16px;
}
#u6054 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u6055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:34px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6055 {
  position:absolute;
  left:160px;
  top:131px;
  width:68px;
  height:20px;
  color:#FFFFFF;
}
#u6056 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u6057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6057 {
  position:absolute;
  left:83px;
  top:223px;
  width:113px;
  height:16px;
}
#u6058 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6059 {
  position:absolute;
  left:83px;
  top:249px;
  width:215px;
  height:16px;
}
#u6060 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u6061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:57px;
}
#u6061 {
  position:absolute;
  left:85px;
  top:96px;
  width:65px;
  height:56px;
}
#u6062 {
  position:absolute;
  left:2px;
  top:20px;
  width:61px;
  word-wrap:break-word;
}
#u6063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6063 {
  position:absolute;
  left:160px;
  top:105px;
  width:99px;
  height:16px;
}
#u6064 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:29px;
}
#u6065 {
  position:absolute;
  left:423px;
  top:113px;
  width:14px;
  height:29px;
}
#u6066 {
  position:absolute;
  left:2px;
  top:6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6067 {
  position:absolute;
  left:83px;
  top:191px;
  width:71px;
  height:16px;
}
#u6068 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6069 {
  position:absolute;
  left:83px;
  top:293px;
  width:57px;
  height:16px;
}
#u6070 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6071_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:23px;
}
#u6071 {
  position:absolute;
  left:78px;
  top:190px;
  width:3px;
  height:20px;
}
#u6072 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6073_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:23px;
}
#u6073 {
  position:absolute;
  left:76px;
  top:291px;
  width:3px;
  height:20px;
}
#u6074 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
