body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:699px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:561px;
}
#u4713 {
  position:absolute;
  left:39px;
  top:13px;
  width:338px;
  height:561px;
}
#u4714 {
  position:absolute;
  left:2px;
  top:272px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4715 {
  position:absolute;
  left:412px;
  top:400px;
  width:287px;
  height:16px;
}
#u4716 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u4717_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:76px;
  height:21px;
}
#u4717p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:67px;
  height:1px;
}
#u4717p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:78px;
  height:21px;
}
#u4717p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u4717p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u4717p002 {
  position:absolute;
  left:64px;
  top:0px;
  width:2px;
  height:1px;
}
#u4717p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u4717.compound {
  width:0px;
  height:0px;
}
#u4717 {
  position:absolute;
  left:347px;
  top:408px;
  width:65px;
  height:1px;
}
#u4718 {
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
