body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:701px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:567px;
}
#u4707 {
  position:absolute;
  left:41px;
  top:15px;
  width:337px;
  height:567px;
}
#u4708 {
  position:absolute;
  left:2px;
  top:276px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4709 {
  position:absolute;
  left:414px;
  top:231px;
  width:287px;
  height:16px;
}
#u4710 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u4711_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:243px;
  height:21px;
}
#u4711p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:234px;
  height:1px;
}
#u4711p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:245px;
  height:21px;
}
#u4711p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u4711p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u4711p002 {
  position:absolute;
  left:231px;
  top:0px;
  width:2px;
  height:1px;
}
#u4711p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u4711.compound {
  width:0px;
  height:0px;
}
#u4711 {
  position:absolute;
  left:182px;
  top:239px;
  width:232px;
  height:1px;
}
#u4712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
