body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u796 {
  position:absolute;
  left:95px;
  top:52px;
  width:197px;
  height:33px;
  font-size:28px;
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u798_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:4144px;
}
#u798 {
  position:absolute;
  left:41px;
  top:12px;
  width:2px;
  height:4141px;
}
#u799 {
  position:absolute;
  left:2px;
  top:2062px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u800 {
  position:absolute;
  left:21px;
  top:48px;
  width:40px;
  height:40px;
  font-size:36px;
  color:#FFFFFF;
}
#u801 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  word-wrap:break-word;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 129, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u802 {
  position:absolute;
  left:0px;
  top:103px;
  width:82px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u803 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:1318px;
}
#u804 {
  position:absolute;
  left:95px;
  top:103px;
  width:891px;
  height:1318px;
}
#u805 {
  position:absolute;
  left:2px;
  top:651px;
  width:887px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:1333px;
}
#u806 {
  position:absolute;
  left:1024px;
  top:103px;
  width:894px;
  height:1333px;
}
#u807 {
  position:absolute;
  left:2px;
  top:658px;
  width:890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:1379px;
}
#u808 {
  position:absolute;
  left:2002px;
  top:103px;
  width:893px;
  height:1379px;
}
#u809 {
  position:absolute;
  left:2px;
  top:682px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:979px;
}
#u810 {
  position:absolute;
  left:2983px;
  top:103px;
  width:890px;
  height:979px;
}
#u811 {
  position:absolute;
  left:2px;
  top:482px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u812 {
  position:absolute;
  left:95px;
  top:1515px;
  width:253px;
  height:33px;
  font-size:28px;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u814 {
  position:absolute;
  left:21px;
  top:1511px;
  width:40px;
  height:40px;
  font-size:36px;
  color:#FFFFFF;
}
#u815 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 129, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u816 {
  position:absolute;
  left:0px;
  top:1552px;
  width:82px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u817 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:2552px;
}
#u818 {
  position:absolute;
  left:95px;
  top:1592px;
  width:887px;
  height:2552px;
}
#u819 {
  position:absolute;
  left:2px;
  top:1268px;
  width:883px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:3574px;
  height:5px;
}
#u820 {
  position:absolute;
  left:302px;
  top:68px;
  width:3571px;
  height:2px;
}
#u821 {
  position:absolute;
  left:2px;
  top:-7px;
  width:3567px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u822 {
  position:absolute;
  left:467px;
  top:45px;
  width:108px;
  height:48px;
  font-size:16px;
}
#u823 {
  position:absolute;
  left:2px;
  top:5px;
  width:104px;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u824 {
  position:absolute;
  left:1024px;
  top:37px;
  width:175px;
  height:48px;
  font-size:16px;
}
#u825 {
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u826 {
  position:absolute;
  left:2002px;
  top:43px;
  width:254px;
  height:48px;
  font-size:16px;
}
#u827 {
  position:absolute;
  left:2px;
  top:5px;
  width:250px;
  word-wrap:break-word;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u828 {
  position:absolute;
  left:2983px;
  top:37px;
  width:166px;
  height:48px;
  font-size:16px;
}
#u829 {
  position:absolute;
  left:2px;
  top:5px;
  width:162px;
  word-wrap:break-word;
}
