body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:681px;
}
#u328 {
  position:absolute;
  left:80px;
  top:116px;
  width:388px;
  height:681px;
}
#u329 {
  position:absolute;
  left:2px;
  top:332px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u330 {
  position:absolute;
  left:80px;
  top:80px;
  width:279px;
  height:16px;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:681px;
}
#u332 {
  position:absolute;
  left:732px;
  top:116px;
  width:388px;
  height:681px;
}
#u333 {
  position:absolute;
  left:2px;
  top:332px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334 {
  position:absolute;
  left:732px;
  top:80px;
  width:153px;
  height:16px;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u336 {
  position:absolute;
  left:732px;
  top:125px;
  width:43px;
  height:40px;
}
#u337 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 191, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u338 {
  position:absolute;
  left:775px;
  top:137px;
  width:155px;
  height:16px;
  color:#FFFFFF;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u340 {
  position:absolute;
  left:1218px;
  top:158px;
  width:372px;
  height:132px;
}
#u341 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  word-wrap:break-word;
}
#u342 {
  position:absolute;
  left:820px;
  top:156px;
  width:0px;
  height:0px;
}
#u342_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:404px;
  height:8px;
}
#u342_seg1 {
  position:absolute;
  left:396px;
  top:-4px;
  width:8px;
  height:13px;
}
#u343 {
  position:absolute;
  left:154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u344 {
  position:absolute;
  left:738px;
  top:125px;
  width:32px;
  height:32px;
}
#u345 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:39px;
}
#u346 {
  position:absolute;
  left:80px;
  top:21px;
  width:355px;
  height:29px;
  font-size:16px;
}
#u347 {
  position:absolute;
  left:0px;
  top:5px;
  width:355px;
  word-wrap:break-word;
}
